.body-fulltab {
    overflow: hidden !important;
}

.video-fulltab {
    position: fixed !important;
    z-index: 2147483647;		/* I don't know. */
    
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: 100vw !important;
    height: 100vh !important;

    background-color: black;
}
